<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
</head>
<body>
    <div class="wb-page">
        <h1 th:text="'Hola, ' + ${user}" />
        <a th:href="@{/logout}" class="btn btn-danger">Logout</a>
        <input class="wb-search" type="text" placeholder="ej. Buenos Aires" />
        <button class="add" type="button">Nueva locación</button>
        <h3>Mis locaciones</h3>
        <div class="wd-location" th:if="${locationList != null}" th:each="location: ${locationList}" >
            <a th:href="@{/boards/__${user}__/locations/__${location.id}__}" th:text="${location.city} + ', ' + ${location.locality} + ', ' + ${location.country}"></a>
            <button th:id="${location.id}" class="remove" type="button">Quitar</button>
            <div class="wd-forecast">
                <p th:text="${location.status.temp} + 'ºC ' + ${location.status.description}"></p>
                <p th:text="'Última actualización: ' +${location.status.lastUpdated}"></p>
            </div>
        </div>
        <span th:if="${locationList.isEmpty()}" th:text="'No hay locaciones guardadas'"></span>
    </div>
</body>
</html>