<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>
    <div class="wb-page">
        <h1 th:text="${location.city} + ', ' +  ${location.country}" />
        <div class="wd-location">
            <div class="wd-forecast">
                <p th:text="${location.status.temp} + 'ºC ' + ${location.status.description}"></p>
                <p th:text="'Última actualización: ' +${location.status.lastUpdated}"></p>
            </div>
        </div>
    </div>
</body>
</html>